.advices {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;

  &__text {
    color: $black-color;
    font-size: 21px;
    line-height: 1.4;
  }

  &__title {
    color: $black-color;
    margin-bottom: 60px;
  }

  &__images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  &__images--list {
    position: relative;
    transition: $animation;
  }

  &__images--list:focus,
  &__images--list:hover {
    box-shadow: $boxes-shadow;
    text-shadow: $text-shadow;
  }

  &__box {
    position: absolute;
    height: 87px;
    bottom: 39px;
    left: 2%;

    &--text {
      text-align: center;
      font-size: 21px;
      line-height: 1.4;
    }
  }

  &__button {
    padding: 20px 35px 15px 35px;
    background-color: $grey-color;
    color: $white-color;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.1em;
  }
  &__button:hover,
  &__button:focus {
    background-color: $white-color;
    color: $grey-color;
  }
}
