.header {
  // padding-bottom: 200px;

  &__box {
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__search--link {
    display: flex;
    align-items: center;
    color: #fff;
  }
  &__search {
    margin-right: 13px;
    margin-bottom: 6px;
    width: 24px;
    height: 24px;
    align-items: center;
  }

  &__nav {
    display: flex;
  }

  &__nav--list:nth-child(-n + 2) {
    margin-right: 40px;
  }

  &__nav--list:last-child {
    margin-right: 126px;
  }

  &__logo {
    margin-right: 102px;
  }

  &__adress--button {
    border: none;
    color: #fff;
    border-color: transparent;
    background-color: transparent;
  }

  &__adress--list {
    margin-right: 40px;
    display: flex;
    align-items: center;
  }
}
