.hero {
  background-image: url(../img/bg/bgc.jpg);
  padding-top: 60px;

  &__container {
    position: relative;
  }

  &__title {
    padding-top: 520px;
    margin-bottom: 50px;
    font-family: "Noto Serif", sans-serif;
    text-align: center;
    font-size: 36px;
    line-height: 1.36;
    letter-spacing: 4px;
  }

  &__button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 200px;
    padding: 15px 35px;
    border: 1px solid #ffffff;
    background-color: #333333;
  }

  &__button--text {
    display: block;
    color: #fff;
    padding-top: 8px;
    text-transform: uppercase;
    line-height: 1.16;
    letter-spacing: 0.1em;
    font-size: 18px;
  }
}
