.social {
  padding-bottom: 150px;

  &__tag {
    color: #000;
    text-align: center;
  }

  &__title {
    color: #000;
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
