.social {
  padding-bottom: 150px;

  &__tag {
    color: $black-color;
    text-align: center;
  }

  &__title {
    color: $black-color;
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__menu--list {
    transition: box-shadow $animation-scale, transform $animation-scale;
  }

  &__menu--list:hover,
  &__menu--list:focus {
    box-shadow: $boxes-shadow;
    transform: scale(1.05);
  }
}
