.social {
  padding-bottom: 150px;

  &__tag {
    color: #000;
    text-align: center;
  }

  &__title {
    color: #000;
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__menu--list:hover,
  &__menu--list:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}
